# Gemini API key. You can get this from https://aistudio.google.com/.
GEMINI_API_KEY=

# Discord bot token. You can get these from the Discord Developer Portal.
DISCORD_TOKEN=

# The ID of the Discord guild (server) where the bot will operate. You can get this by enabling Developer Mode in Discord, right-clicking your server, and selecting "Copy ID".
DISCORD_GUILD_ID=